---
Language:     Cpp
BasedOnStyle: Google

UseTab: Never
IndentWidth: 2
ColumnLimit: 80

DerivePointerAlignment: false
PointerAlignment: Left

SortIncludes:    true

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
...
