name: Backend Tests

on:
    push:
        paths:
            - 'serverless_llm/serve/backends/**'
    pull_request:
        paths:
            - 'serverless_llm/serve/backends/**'

jobs:
    worker_tests:
        runs-on: self-hosted
        container:
          image: nvcr.io/nvidia/cuda:12.6.1-cudnn-runtime-ubuntu22.04
          options: --gpus all
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.10'
            
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -r requirements-worker.txt
                  pip install -r requirements-test.txt
                  pip install -i https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple/ serverless_llm_store==0.0.1.dev3

            - name: Install ServerlessLLM
              run: |
                    pip install -e .

            - name: Run tests
              run: |
                  pytest tests/backend_test