name: CLI Tests

on:
  pull_request:
    types: [opened, synchronize, labeled]
    branches:
      - main
    paths:
      - 'sllm/cli/**'

jobs:
    cli_tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.10'

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -r requirements-worker.txt
                  pip install -r requirements-test.txt
                  pip install -i https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple/ serverless-llm-store

            - name: Install ServerlessLLM
              run: |
                    pip install -e .

            - name: Run tests
              run: |
                  pytest tests/new_cli_test