name: Test Sllm Store

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'  # Specify the Python version you want to use

      - name: Free disk space
        run: |
          df -h
          sudo rm -rf /usr/local/cuda-* /opt/cuda
          sudo rm -rf /usr/local/cuda
          bash -x .github/workflows/scripts/free-disk-space.sh

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-test.txt

      - name: Install CUDA 12.1
        run: |
          bash -x .github/workflows/scripts/cuda-install.sh 12.1 ubuntu-22.04

      # Python Tests
      - name: Install ServerlessLLM Store
        run: |
          cd serverless_llm/store && pip install .

      - name: Run Python tests
        run: |
          pytest serverless_llm/store/tests/python

      # C++ Tests
      - name: Build C++ project
        run: |
          cd serverless_llm/store && pip install -r requirements-build.txt && bash cpp_build.sh

      - name: Run C++ tests
        run: |
          cd serverless_llm/store/build && ctest --output-on-failure
